<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<select id="selectLabels" [(ngModel)]="selected">
  <ng-container *ngFor="let header of tableConfig.headers">
  <option value="{{header.key}}" >
    {{header.label}}
  </option>
  </ng-container>
</select>
<input class="searchTerm" type="text" name="searchTerm" placeholder="Enter text to search" [(ngModel)]="searchTerm" />
<br/> <br/>
<table>
  <tr>
    <td *ngFor="let header of tableConfig.headers">
      {{header.label}}
      <button *ngIf="order.orderType === 'desc'" (click)="sort(header.key, 'asc')">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button *ngIf="order.orderType === 'asc'" (click)="sort(header.key, 'desc')">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </td>
  </tr>
  <tr *ngFor="let dataRow of (data | searchFilter : selected : searchTerm | pagination :3: 1 )"> <!-- dropdown menu -->
    <td *ngFor="let header of tableConfig.headers">
      {{dataRow[header.key]}}
    </td>
  </tr>
</table>
