<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<select id="selectLabels" [(ngModel)]="selected">
  <ng-container *ngFor="let header of tableConfig.headers">
  <option value="{{header.key}}" >
    {{header.label}}
  </option>
  </ng-container>
</select>
<input class="searchTerm" type="text" name="searchTerm" placeholder="Enter text to search" [(ngModel)]="searchTerm" />
<br/> <br/>
<ng-container *ngFor="let action of tableConfig.actions">
  <div *ngIf="action.onTop">
    <app-my-button [buttonConfig]="{text: action.text, customCssClass: action.cssClass, icon: action.icon}" (click)="actionToPerform(action.actionType)">
    </app-my-button>
  </div>
</ng-container>
<table>
  <tr>
    <td *ngFor="let header of tableConfig.headers">
      {{header.label}}
      <button>
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button>
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </td>
  </tr>
  <tr *ngFor="let dataRow of (data | orderBy: 'name': 'desc' | searchFilter : selected : searchTerm | pagination : tableConfig.pagination.itemPerPage: pageIndex )">
    <td *ngFor="let header of tableConfig.headers">
      {{dataRow[header.key]}}
    </td>
    <td>
      <ng-container *ngFor="let action of tableConfig.actions">
        <div *ngIf="!action.onTop">
          <app-my-button [buttonConfig]="{text: action.text, customCssClass: action.cssClass, icon: action.icon}" (click)="actionToPerform(action.actionType)"></app-my-button>
          <!-- mostra qui solo on top= false e event dei click. filtro. Provata soluzione template ma no-->
        </div>
      </ng-container>
    </td>
  </tr>
</table>
<select name= "itemsPerPageOptions" (change)="changePageOptions($event)" >
  <option *ngFor="let option of tableConfig.pagination.itemPerPageOptions" value="{{option}}">{{option}}</option>
</select>
<button *ngIf="pageIndex > 0" (click)="pageNavigation('previous')">
  <mat-icon>arrow_back</mat-icon>
</button>
<button *ngIf="pageIndex+1 < totalPages" (click)="pageNavigation('next')">
  <mat-icon>arrow_forward</mat-icon>
</button>

