<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<select id="selectLabels" [(ngModel)]="selected">
  <ng-container *ngFor="let header of tableConfig.headers">
  <option value="{{header.key}}" >
    {{header.label}}
  </option>
  </ng-container>
</select>
<input class="searchTerm" type="text" name="searchTerm" placeholder="Enter text to search" [(ngModel)]="searchTerm" />
<br/> <br/>
<table>
  <tr>
    <td *ngFor="let header of tableConfig.headers">
      {{header.label}}
      <button *ngIf="tableConfig.order.orderType === 'desc'" (click)="sort(header.key, 'asc')">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button *ngIf="tableConfig.order.orderType === 'asc'" (click)="sort(header.key, 'desc')">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </td>
  </tr>
  <tr *ngFor="let dataRow of (data | searchFilter : selected : searchTerm | pagination :tableConfig.pagination.itemPerPage: pageIndex )">
    <td *ngFor="let header of tableConfig.headers">
      {{dataRow[header.key]}}
      <button *ngIf="header.key === 'actions'" (click)="edit(dataRow)">
        <mat-icon>edit</mat-icon>
      </button>
        <button *ngIf="header.key === 'actions'" (click)="delete(dataRow)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
<select name= "itemsPerPageOptions" (change)="changePageOptions($event)" >
  <option *ngFor="let option of tableConfig.pagination.itemPerPageOptions" value="{{option}}">{{option}}</option>
</select>
<button *ngIf="pageIndex > 0" (click)="pageNavigation('previous')">
  <mat-icon>arrow_back</mat-icon>
</button>
<button *ngIf="pageIndex+1 < totalPages" (click)="pageNavigation('next')">
  <mat-icon>arrow_forward</mat-icon>
</button>

